In [3]:
#  TOPIC: String Based Assignment Problem

In [4]:
# 1. Write a program to reverse a string.
a=input()
print(a[::-1])

  program

margorp

In [5]:
#2. Check if a string is a palindrome.

a1=input().strip()
if a1[::1]==a1[::-1]:
    print("True")
else:
    print("False")

 malayalam

True

In [6]:
#3. Convert a string to uppercase.

a2=a1.upper()
print(a2)

MALAYALAM

In [7]:
#4. Convert a string to lowercase

print(a2.lower())

malayalam

In [8]:
#5. Count the number of vowels in a string.

st=input("Enter a sentence:")
vowels=['a','e','i','o','u']
a=0
tot=0
for num in vowels:
    for p in st:
        if num==p:
            a+=1
            tot+=1
    print("Count of "+num+" is "+ str(a))
    a=0
print("total vowels count is "+str(tot))

Enter a sentence: Find the index of the first occurrence of an element in a list

Count of a is 2
Count of e is 8
Count of i is 5
Count of o is 3
Count of u is 1
total vowels count is 19

In [9]:
#6. Count the number of consonants in a string.

st=input("Enter a sentence:")
vowels=['a','e','i','o','u']
a=0
tot=0
for num in vowels:
    for p in st:
        if num==p:
            a+=1
            tot+=1
    a=0
print("total consonants count is "+str(len(st)-tot))

Enter a sentence: Find the index of the first occurrence of an element in a list

total consonants count is 43

In [10]:
#7. Remove all whitespaces from a string.
a3=input().strip()
print(a3.replace(" ",""))

 Find the index of the first occurrence of an element in a list

Findtheindexofthefirstoccurrenceofanelementinalist

In [11]:
#8. Find the length of a string without using the `len()` function
length=0
for num in a3:
    length+=1
print(length)

62

In [12]:
#9. Check if a string contains a specific word.
a4=input().strip()
word=input().strip()
if word in a4:
    print("True")
else:
    print("False")

 Find the index of the first occurrence of an element in a list
 list

True

In [13]:
#10. Replace a word in a string with another word.
print(a4.replace("a","A"))

Find the index of the first occurrence of An element in A list

In [14]:
#11. Count the occurrences of a word in a string.

print(a4.count("a"))

2

In [15]:
#12. Find the first occurrence of a word in a string
print("The 'string' is first occurred at "+str(a4.find("string")))

The 'string' is first occurred at -1

In [16]:
#13. Find the last occurrence of a word in a string.
a5="you can convert both the string and the substring to lowercase"
print("The 'string' is first occurred at "+str(a5.rfind("the")))

The 'string' is first occurred at 36

In [17]:
# 14.Split a string into a list of words.

print(a5.strip().split(" "))

['you', 'can', 'convert', 'both', 'the', 'string', 'and', 'the', 'substring', 'to', 'lowercase']

In [18]:
#15. Join a list of words into a string.
a6=a5.strip().split(" ") #a5="you can convert both the string and the substring to lowercase"
print(a6)
print(str(' '.join(a6)))

['you', 'can', 'convert', 'both', 'the', 'string', 'and', 'the', 'substring', 'to', 'lowercase']
you can convert both the string and the substring to lowercase

In [19]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.

print(a5.replace(" ","_")) #a5="you can convert both the string and the substring to lowercase"

you_can_convert_both_the_string_and_the_substring_to_lowercase

In [20]:
# 17. Check if a string starts with a specific word or phrase.
if a5.startswith("you"): #a5="you can convert both the string and the substring to lowercase"
    print("True")
else:
    print("False")

True

In [21]:
#18. Check if a string ends with a specific word or phrase.

if a5.endswith("you"):    #a5="you can convert both the string and the substring to  lowercase"
    print("True")
else:
    print("False")

False

In [22]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
print(a5.title()) #a5="you can convert both the string and the substring to lowercase"

You Can Convert Both The String And The Substring To Lowercase

In [23]:
#20. Find the longest word in a string.
words=a5.split()
longest=max(words,key=len)
print(longest)

substring

In [24]:
#21. Find the shortest word in a string.
words=a5.split()
longest=min(words,key=len)
print(longest)

to

In [25]:
#22. Reverse the order of words in a string.

words=words[::-1]
print(' '.join(words))

lowercase to substring the and string the both convert can you

In [26]:
#23. Check if a string is alphanumeric.

if a5.isalnum():
    print("True")
else:
    print("False")
    
a7="Yfkjbvfb9568568"

if a7.isalnum():
    print("True")
else:
    print("False")

False
True

In [27]:
#24. Extract all digits from a string.
digs=[]
for num in a7:
    if num.isnumeric():
        digs.append(num)
    else:
        pass
print(digs)

['9', '5', '6', '8', '5', '6', '8']

In [28]:
#25. Extract all alphabets from a string.

digs=[]
for num in a7:    #a7="Yfkjbvfb9568568"
    if num.isalpha():
        digs.append(num)
    else:
        pass
print(digs)

['Y', 'f', 'k', 'j', 'b', 'v', 'f', 'b']

In [29]:
#26. Count the number of uppercase letters in a string.
digss=[]
a8="EKJBFJERBFenfdebfrhBFDEJBHFJEBekfnrbfrhbf3498987598594"
for num in a8:
    if num.isupper():
        digss.append(num)
    else:
        pass
print(digss)

['E', 'K', 'J', 'B', 'F', 'J', 'E', 'R', 'B', 'F', 'B', 'F', 'D', 'E', 'J', 'B', 'H', 'F', 'J', 'E', 'B']

In [30]:
#27. Count the number of lowercase letters in a string.
digss=[]
a8="EKJBFJERBFenfdebfrhBFDEJBHFJEBekfnrbfrhbf3498987598594"
for num in a8:
    if num.islower():
        digss.append(num)
    else:
        pass
print(digss)

['e', 'n', 'f', 'd', 'e', 'b', 'f', 'r', 'h', 'e', 'k', 'f', 'n', 'r', 'b', 'f', 'r', 'h', 'b', 'f']

In [33]:
#28. Swap the case of each character in a string.

a9="hdcfevHGJjJjvHVVJhvjVvJHvJHVjh"
print(a9.swapcase())

HDCFEVhgjJjJVhvvjHVJvVjhVjhvJH

In [34]:
print(a5)

you can convert both the string and the substring to lowercase

In [35]:
#29. Remove a specific word from a string.

print(a5.replace("the",""))

you can convert both  string and  substring to lowercase

In [36]:
#30. Check if a string is a valid email address.
import re

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    match = re.match(pattern, email)
    
    # Return True if the email is valid, False otherwise
    return bool(match)

email_address =input().strip()
if is_valid_email(email_address):
    print(" valid.")
else:
    print(" not valid.")

 hariguna1729@gmail.com

 valid.

In [37]:
#31. Extract the username from an email address string.

b="hariguna1729@gmail.com"
end=b.find("@")

print(b[0:end])

hariguna1729

In [38]:
#32. Extract the domain name from an email address string.

start=b.find("@")
end=b.find(".")
print(b[start+1:end])

gmail

In [40]:
#33. Replace multiple spaces in a string with a single space.
import re
b2=input().strip()
modified_b2= re.sub(r'\s+', ' ', b2)
print(modified_b2)

 Find      the index of the           first occurrence       of an              element      in a list.

Find the index of the first occurrence of an element in a list.

In [41]:
pip install validators

Collecting validators
  Downloading validators-0.22.0-py3-none-any.whl (26 kB)
Installing collected packages: validators
Successfully installed validators-0.22.0
Note: you may need to restart the kernel to use updated packages.

In [42]:
#34. Check if a string is a valid URL.

#NO module found to finish this one easily
import validators

def is_valid_url(url):
    return validators.url(url)

url_string = "https://www.example.com/path/to/page"
if is_valid_url(url_string):
    print(f"The URL '{url_string}' is valid.")
else:
    print(f"The URL '{url_string}' is not valid.")

The URL 'https://www.example.com/path/to/page' is valid.

In [43]:
#35. Extract the protocol (http or https) from a URL string.

from urllib.parse import urlparse

def extract_protocol(url):
    parsed_url = urlparse(url)
    return parsed_url.scheme

# Example usage
url_string = "https://www.example.com/path/to/page"
protocol = extract_protocol(url_string)

print(f"The protocol in the URL '{url_string}' is: {protocol}")

The protocol in the URL 'https://www.example.com/path/to/page' is: https

In [44]:
#36. Find the frequency of each character in a string.
letters=[]
for num in b2.lower():
    if num not in letters:
        letters.append(num)
        print(" The of "+num+" is "+str(b2.count(num)))
    else:
        pass

 The of f is 3
 The of i is 5
 The of n is 6
 The of d is 2
 The of   is 51
 The of t is 5
 The of h is 2
 The of e is 8
 The of x is 1
 The of o is 3
 The of r is 3
 The of s is 2
 The of c is 3
 The of u is 1
 The of a is 2
 The of l is 2
 The of m is 1
 The of . is 1

In [45]:
#37.Remove all punctuation from a string.

punc_sentence="Hello! How are you today? I hope everything is going well. Don't forget to bring your umbrella, it might rain!"
print(punc_sentence)
for num in punc_sentence:
    if num not in "!\"#$%&'()*+,-./:;<=>?@[\\]^_`{|}~":
        print(num,end="")

Hello! How are you today? I hope everything is going well. Don't forget to bring your umbrella, it might rain!
Hello How are you today I hope everything is going well Dont forget to bring your umbrella it might rain

In [48]:
#38. Check if a string contains only digits.

st=input().strip()
tot=0
for num in st:
    if (ord(num)>=65 and ord(num)<=90) or (ord(num)>=97 and ord(num)<=122):
        print("The string not only contains digits")
        break
        tot+=1
        
    else:
        pass

 Find the index of the first occurrence of an element in a list

The string not only contains digits

In [47]:
# 39. Check if a string contains only alphabets.

st=input().strip()
tot=0
for num in st:
    if (ord(num)>=65 and ord(num)<=90) or (ord(num)>=97 and ord(num)<=122):
        print("The string  only contains alphabets")
        tot+=1
        break
        
    else:
        pass
if tot==0:
    print("The string contains  digits also")

 Find the index of the first occurrence of an element in a list

The string  only contains alphabets

In [49]:
# 40. Convert a string to a list of characters.
print(list(st))

['F', 'i', 'n', 'd', ' ', 't', 'h', 'e', ' ', 'i', 'n', 'd', 'e', 'x', ' ', 'o', 'f', ' ', 't', 'h', 'e', ' ', 'f', 'i', 'r', 's', 't', ' ', 'o', 'c', 'c', 'u', 'r', 'r', 'e', 'n', 'c', 'e', ' ', 'o', 'f', ' ', 'a', 'n', ' ', 'e', 'l', 'e', 'm', 'e', 'n', 't', ' ', 'i', 'n', ' ', 'a', ' ', 'l', 'i', 's', 't']

In [51]:
# 41. Check if two strings are anagrams.
st1=input().strip()
st2=input().strip()
l1=sorted(list(st1))
l2=sorted(list(st2))
if l1==l2:
    print("The two strings are anagrams")

else:
    print("The two strings are not anagrams")

 Find the index of the first occurrence of an element in a list
 Find the index of the first occurrence

The two strings are not anagrams

In [52]:
# 42. Encode a string using a Caesar cipher.

st=input().strip()
key=int(input())
res=''
for num in st:
    if num.isupper():
        res+=chr((ord(num)%90)+key)
    elif num.islower():
        res+=chr((ord(num)%122)+key)
    else:
        res+=num
print(res)

 Find the index of the first occurrence of an element in a list
 3

Ilqg wkh lqgh{ ri wkh iluvw rffxuuhqfh ri dq hohphqw lq d olvw

In [54]:
# 43. Decode a Caesar cipher encoded string.
st=input().strip()
key=int(input())
res=''
for num in st:
    if num.isupper():
        res+=chr((ord(num)%90)-key)
    elif num.islower():
        res+=chr((ord(num)%122)-key)
    else:
        res+=num
print(res)

 Ilqg wkh lqgh{ ri wkh iluvw rffxuuhqfh ri dq hohphqw lq d olvw
 3

Find the inde{ of the first occurrence of an element in a list

In [57]:
# 44. Find the most frequent word in a string.

st=input().strip()
maxn=0
maxw=""
words= st.split(" ")
for num in words:
    if words.count(num)>=maxn:
        maxw=num
        maxn=words.count(num)
    else:
        pass
print(f"'{maxw}' is the most frequent word and repeated {maxn} times")

  Find the index of the first occurrence of an element in a list

'of' is the most frequent word and repeated 2 times

In [58]:
# 45. Find all unique words in a string.
st=input().strip()
words= st.split(" ")
for num in words:
    if words.count(num)==1:
        print(num)

  Find the index of the first occurrence of an element in a list

Find
index
first
occurrence
an
element
in
a
list

In [60]:
pip install nltk

Requirement already satisfied: nltk in /opt/conda/lib/python3.10/site-packages (3.8.1)
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from nltk) (8.1.3)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/lib/python3.10/site-packages (from nltk) (2023.12.25)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.10/site-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in /opt/conda/lib/python3.10/site-packages (from nltk) (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [63]:
#46. Count the number of syllables in a string.
import re

def count_syllables(word):
    # Using regular expression to find vowel groups
    vowels = re.findall(r'[aeiouy]+', word, flags=re.IGNORECASE)
    
    # Handling special cases where 'e' at the end is not counted as a separate syllable
    if word.lower().endswith('e') and len(vowels) > 1 and vowels[-1].lower() == 'e':
        vowels.pop()

    return len(vowels)

def count_syllables_in_string(text):
    words = text.split()
    total_syllables = sum(count_syllables(word) for word in words)
    return total_syllables

# Example usage
input_string = "Count the number of syllables in a string"
result = count_syllables_in_string(input_string)
print(f"The number of syllables in the string is: {result}")

The number of syllables in the string is: 11

In [64]:
# 47. Check if a string contains any special characters.

import re

def contains_special_characters(input_string):
    # Define a regular expression pattern for special characters
    special_characters_pattern = re.compile(r'[^a-zA-Z0-9\s]')

    # Use the pattern to find special characters in the input string
    special_characters = special_characters_pattern.search(input_string)

    # Return True if special characters are found, False otherwise
    return special_characters is not None

# Example usage
input_string = "Check if a string contains any special characters!"
result = contains_special_characters(input_string)

if result:
    print("The string contains special characters.")
else:
    print("The string does not contain any special characters.")

The string contains special characters.

In [66]:

# 48. Remove the nth word from a string.

st=input().strip()
words=st.split(" ")
a=len(words)
for num in words[0:a-1]:
    print(num,end=" ")

  Find the index of the first occurrence of an element in a list

Find the index of the first occurrence of an element in a

In [69]:
# 49. Insert a word at the nth position in a string.
st="Insert a word at the nth position in a string"
word=input().strip()
print(st+" "+word)

  Find

Insert a word at the nth position in a string Find

In [ ]:
# 50. convert a CSV string to a list of lists.c

import csv
from io import StringIO

def csv_string_to_list(csv_string):
    # Create a CSV reader object
    csv_reader = csv.reader(StringIO(csv_string))

    # Convert the CSV reader object to a list of lists
    csv_list = [row for row in csv_reader]

    return csv_list

# Example usage
csv_string = "Name,Age,Occupation\nJohn,30,Engineer\nAlice,25,Doctor\nBob,40,Artist"
result = csv_string_to_list(csv_string)

print(result)

In [ ]:
# List Based Practice Problem :

In [51]:
# 1. Create a list with integers from 1 to 10.
l=list(i for i in range(1,11))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
# 2. Find the length of a list without using the `len()` function.
a=0
for num in l:
   a+=1
print("The length of list  is "+str(a))

The length of list  is 10

In [53]:
# 3. Append an element to the end of a list.

l.append(11)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [54]:
# 4. Insert an element at a specific index in a list.
l.insert(3,5)
print(l)

[1, 2, 3, 5, 4, 5, 6, 7, 8, 9, 10, 11]

In [55]:
# 5. Remove an element from a list by its value.
l.remove(5)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [56]:
# output i not showing from this

In [57]:
#  6. Remove an element from a list by its index.
l.pop(2)
print(l) #remove index 2-->3

[1, 2, 4, 5, 6, 7, 8, 9, 10, 11]

In [58]:
# 7. Check if an element exists in a list.
n=int(input())
if n in l:
    print("The element exists")
else:
    print("The element does not exist")

 7

The element exists

In [12]:
# 8. Find the index of the first occurrence of an element in a list.
x=int(input())
y=l.index(x)
print(f"The index of {x} is {y} ")

 6

The index of 6 is 4

In [13]:
# 9. Count the occurrences of an element in a list.
l.append(7)
print(f"The count of 7 is {l.count(7)}")

The count of 7 is 2

In [14]:
# 10. Reverse the order of elements in a list.
print(l)
print(f"The reverse order of l is :{l[::-1]}")

[1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 7]
The reverse order of l is :[7, 11, 10, 9, 8, 7, 6, 5, 4, 2, 1]

In [59]:
# 11. Sort a list in ascending order.
import random
random.shuffle(l)
print(l)
l.sort()
print(f"The sorted (ascending) list is: {l}")

[4, 11, 6, 2, 10, 1, 9, 8, 5, 7]
The sorted (ascending) list is: [1, 2, 4, 5, 6, 7, 8, 9, 10, 11]

In [60]:
# 12. Sort a list in descending order.

import random
random.shuffle(l)
print(l)
l.sort(reverse=True)
print(f"The sorted(descending) list is: {l}")

[10, 11, 5, 9, 1, 2, 6, 7, 8, 4]
The sorted(descending) list is: [11, 10, 9, 8, 7, 6, 5, 4, 2, 1]

In [19]:
# 13. Create a list of even numbers from 1 to 20.
print(list( i for i in range(2,20,2)))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [20]:
# 14. Create a list of odd numbers from 1 to 20.
print(list( i for i in range(1,20,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
# 15. Find the sum of all elements in a list.
print(sum(l))

70

In [28]:
# 16. Find the maximum value in a list.
print(l)
print(f"The maximum value in 'l' is {max(l)}")

[11, 10, 9, 8, 7, 7, 6, 5, 4, 2, 1]
The maximum value in 'l' is 11

In [29]:
# 17. Find the minimum value in a list.
print(l)
print(f"The minimum value in 'l' is {min(l)}")

[11, 10, 9, 8, 7, 7, 6, 5, 4, 2, 1]
The minimum value in 'l' is 1

In [39]:
# 18. Create a list of squares of numbers from 1 to 10.
l=[1,2,3,4,5,6,7,8,9,10]
print(l)
print("The squares of nums in list 'l' is:")
for x in l:
    print(x**2,end=" ")

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The squares of nums in list 'l' is:
1 4 9 16 25 36 49 64 81 100

In [41]:
# 19. Create a list of random numbers.
import random 
for _ in range(10):
    print(random.randint(1,100))

69
15
55
44
38
72
25
11
15
19

In [48]:
# 20. Remove duplicates from a list.
l=[1,2,3,4,4,5,6,6,7,7,8,9]
print(list(set(l)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
# 21. Find the common elements between two lists.
l1=[1,2,3,4,5]
l2=[2,3,4,5,6,7]
print(f"The common elements between 'l1' and 'l2' :{list(set(l1) & set(l2))}")

The common elements between 'l1' and 'l2' :[2, 3, 4, 5]

In [53]:
# 22. Find the difference between two lists.
print(f" The difference between 'l1' and 'l2' {list(x for x in l1 if x not in l2)}")
print(f" The difference between 'l2' and 'l1' {list(x for x in l2 if x not in l1)}")

 The difference between 'l1' and 'l2' [1]
 The difference between 'l2' and 'l1' [6, 7]

In [55]:
# 23. Merge two lists.
print(f"The merged list of 'l1' and 'l2' is :{l1+l2}")

The merged list of 'l1' and 'l2' is :[1, 2, 3, 4, 5, 2, 3, 4, 5, 6, 7]

In [59]:
# 24. Multiply all elements in a list by 2.
print(l1)
print(f"The multiplied elements in 'l1' are :{[x*2 for x in l1]}")

[1, 2, 3, 4, 5]
The multiplied elements in 'l1' are :[2, 4, 6, 8, 10]

In [67]:
# 25. Filter out all even numbers from a list. 
print(l1)
print([x for x in l1 if x%2==0])

[1, 2, 3, 4, 5]
[2, 4]

In [5]:
# 26. Convert a list of strings to a list of integers.
x=["1","2","3","4","5","6"]
y=[int(num) for num in x]
print(y)
print([type(num) for num in y])

[1, 2, 3, 4, 5, 6]
[<class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>, <class 'int'>]

In [7]:
# 27. Convert a list of integers to a list of strings.
y1=[str(num) for num in y]
print(y1)
print([type(num) for num in y1])

['1', '2', '3', '4', '5', '6']
[<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>]

In [10]:
# 28. Flatten a nested list.
x1=[[1,2,3,4,5,6],[2,3,4,5],[4,5,6,7,8]]
flatten=[item for sub1 in x1  for item in sub1]
print(flatten)

[1, 2, 3, 4, 5, 6, 2, 3, 4, 5, 4, 5, 6, 7, 8]

In [5]:
#  29. Create a list of the first 10 Fibonacci numbers.

first=int(input())
second=int(input())
count=int(input())
print("The fibo series ")
print(first)
print(second)
temp=0

for i in range(count-2):
    print(first+second)
    temp=first
    first =second
    second=temp+second

 0
 1
 10

The fibo series
0
1
1
2
3
5
8
13
21
34

In [8]:
# 30. Check if a list is sorted.
def sorted(lst):
    for num in range(len(y1)-1):
        if y1[num]>y1[num+1]:
            return False
            break
        
    return True
y1=[1,2,3,4,5,6]
if sorted(y1):
    print("The list is sorted")
else:
    print("The list is not sorted")

The list is ssorted

In [19]:
# 31. Rotate a list to the left by `n` positions.
print(f"Normal list {y1}")
l_list=[]
pos=int(input("Enter positions"))
for i in range(len(y1)):
    l_list.append(y1[(i+pos)%len(y1)])
print(f"Rotated list {l_list}")

Normal list [1, 2, 3, 4, 5, 6]

Enter positions 1

Rotated list [2, 3, 4, 5, 6, 1]

In [18]:
# 32. Rotate a list to the right by `n` positions.
print(f"Normal list {y1}")
l_list=[]
pos=int(input("Enter positions"))
for i in range(len(y1)):
    l_list.append(y1[(i-pos)%len(y1)])
print(f"Rotated list {l_list}")

Normal list [1, 2, 3, 4, 5, 6]

Enter positions 1

Rotated list [6, 1, 2, 3, 4, 5]

In [24]:
# 33. Create a list of prime numbers up to 50.
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit**0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit**0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Example usage:
limit = 50

prime_numbers = sieve_of_eratosthenes(limit)
print("Prime numbers up to", limit, "are:", prime_numbers)

Prime numbers up to 50 are: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [67]:
# 34. Split a list into chunks of size `n`.
y1=[1,2,3,4,5,6,7,8,9]
chunk=int(input("Enter chunk size"))
for i in range(int(len(y1)/chunk)):
    print(y1[chunk*i:chunk*i+chunk])

Enter chunk size 2

[1, 2]
[3, 4]
[5, 6]
[7, 8]

In [69]:
# 35. Find the second largest number in a list.
print(y1)
print(f"The second largest number in y1 is {y1[-2]}")

[1, 2, 3, 4, 5, 6, 7, 8, 9]
The second largest number in y1 is 8

In [72]:
#36. Replace every element in a list with its square.

print(f"The square of every element in y1 are {[x**2 for x in y1]}")

The square of every element in y1 are [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [86]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.
values=[]
for num in y1:
    values.append(int(y1.index(num)))
keys=[str(ele) for ele in y1]
dictionary=dict(zip(keys,values))
print(f"The dictionary where y1 elements are keys and their indices are values :{dictionary}")

The dictionary where y1 elements are keys and their indices are values :{'1': 0, '2': 1, '3': 2, '4': 3, '5': 4, '6': 5, '7': 6, '8': 7, '9': 8}

In [88]:
# 38. Shuffle the elements of a list randomly.
import random
random.shuffle(y1)
print(f"The shuffled elements in y1 are {y1}")

The shuffled elements in y1 are [6, 5, 4, 9, 1, 3, 7, 2, 8]

In [93]:
# 39. Create a list of the first 10 factorial numbers.
res=[]
fact=int(input("Enter number from where the factorial starts"))
for i in range(1,fact+1):
    a=1
    if i>1:
        for num in range(1,i+1):
            a=a*num
    else:
        res.append(i)
    res.append(a)
print(res)

Enter number from where the factorial starts 10

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [1]:
# 40. Check if two lists have at least one element in common.

y1=list(map(int,input("enter list1").split(',')))
y2=list(map(int,input("enter list2").split(',')))
for num in y1:
    for num1 in y2:
        if num==num1:
            print("The lists have a common element")
            break
    break

enter list1 1,23,4,5
enter list2 1,2,3,4,5

The lists have a common element

In [3]:
# 41. Remove all elements from a list.
print(y1)
y1.clear()
print(y1)

[1, 23, 4, 5]
[]

In [11]:
# 42. Replace negative numbers in a list with 0.

y1=[1,2,3,-4,5,-6,-7]
print(y1)
for num in y1:
    if num<0:
        y1[y1.index(num)]=0
print(y1)

[1, 2, 3, -4, 5, -6, -7]
[1, 2, 3, 0, 5, 0, 0]

In [7]:
# 43. Convert a string into a list of words.
str="djvf ebf bfe ekbr eb kebekfrk"
print(str)
lst=list(str.split(" "))
print(lst)

djvf ebf bfe ekbr eb kebekfrk
['djvf', 'ebf', 'bfe', 'ekbr', 'eb', 'kebekfrk']

In [8]:
# 44. Convert a list of words into a string

str1=''.join(lst)
print(str)

djvf ebf bfe ekbr eb kebekfrk

In [9]:
# 45. Create a list of the first `n` powers of 2.
n=int(input())
for num in range(1,n+1):
    print(2**num,end=" ")

 10

2 4 8 16 32 64 128 256 512 1024

In [10]:
# 46. Find the longest string in a list of strings.
max=len(lst[0])
for num in lst:
    if len(num)>=max:
        max=len(num)
        maxw=num
print(maxw)

kebekfrk

In [11]:
# 47. Find the shortest string in a list of strings.
lst=["jkrbr" ,"rkb"," rkg" ,"ne"," rekjgb ","regjkeb"," erkjgbkrb"]
min=len(lst[0])
for num in lst:
    if len(num)<=min:
        min=len(num)
        minw=num
print(minw)

ne

In [13]:
# 48. Create a list of the first `n` triangular numbers.
def triangular_nums(num):
    return (num*(num+1))//2
n=int(input())
res=[]
for i in range(1,n+1):
    res.append(triangular_nums(i))
print(res)

 10

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [17]:
# 49. Check if a list contains another list as a subsequence.
def is_nested(lst):
    if not isinstance(lst,list):
        return False
    for num in lst:
        if isinstance(num,list):
            return True
    return False
nested_lst=[1,2,3,4,5]
isnested=is_nested(nested_lst)
if isnested:
    print("The list contains another list")
else:
    print("The list does not contain another list")

The list does not contain another list

In [25]:
# 50. Swap two elements in a list by their indices.

def swap_elements(lst, index1, index2):
    # Check if the indices are valid
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        # Swap the elements
        lst[index1], lst[index2] = lst[index2], lst[index1]
    else:
        print("Invalid indices. Please provide valid indices.")

# Example usage:
my_list = [1, 2, 3, 4, 5]
print("Original list:", my_list)

# Swap elements at indices 1 and 3
swap_elements(my_list, 1, 3)
print("List after swapping:", my_list)

Original list: [1, 2, 3, 4, 5]
List after swapping: [1, 4, 3, 2, 5]


Tuple Based Practice Problem

In [30]:
# 1. Create a tuple with integers from 1 to 5.
x=tuple(x for x in range(1,6))
print(x)

(1, 2, 3, 4, 5)

In [29]:
# 2. Access the third element of a tuple.
y=x[2]
print(y)

3

In [31]:
# 3. Find the length of a tuple without using the `len()` function.
z=0
for num in x:
   z+=1
print(z)

5

In [37]:
x+(5,)

(1, 2, 3, 4, 5, 5)

In [43]:
# 4. Count the occurrences of an element in a tuple.
x=(1,2,3,4,5,6,6,7)
print(f"The count of 6 in x is :{x.count(6)}")

The count of 6 in x is :2

In [44]:
# 5. Find the index of the first occurrence of an element in a tuple.
num=int(input())
for i in range(len(x)):
    if num==x[i]:
        print(f"The index of the element is :{i}")

 3

The index of the element is :2

In [45]:
# 6.Check if an element exists in a tuple.
num=int(input())
if num in x:
    print("The element is in tuple")
else:
    print("no it is not in tuple")

 3

The element is in tuple

In [46]:
# 6. Check if an element exists in a tuple.
print(list(x))

[1, 2, 3, 4, 5, 6, 6, 7]

In [48]:
# 8. Convert a list to a tuple.
print(tuple([1,2,3,4]))

(1, 2, 3, 4)

In [50]:
# 9. Unpack the elements of a tuple into variables.
a,b,c,d=(1,2,3,4)
print(" variable a:",a)
print(" varible b:",b)
print("variable c:",c)
print(" variable d:",d

 variable a: 1
 varible b: 2
variable c: 3

In [4]:
# 10. Create a tuple of even numbers from 1 to 10.
x=tuple(s for s in range(2,11,2))
print(x)

(2, 4, 6, 8, 10)

In [5]:
# 11. Create a tuple of odd numbers from 1 to 10.
y=tuple(s for s in range(1,10,2))
print(y)

(1, 3, 5, 7, 9)

In [6]:
# 12. Concatenate two tuples.
print(x+y)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [7]:
# 13. Repeat a tuple three times.
print((x+y)*3)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9, 2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [8]:
# 14. Check if a tuple is empty.
if len(x)==0:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is not empty

In [11]:
# 15. Create a nested tuple.

y1=((1,2,3,4),(4,5,6,7))
y1

((1, 2, 3, 4), (4, 5, 6, 7))

In [13]:
# 16. Access the first element of a nested tuple.

print(y1[0][0])

1

In [18]:
# 17. Create a tuple with a single element.
y2=(1)
y2

1

In [25]:
# 18. Compare two tuples.

x=(1,2,3,4)
y=(4,5,6,7)
if x==y:
    print("The two tuples are the same")
else:
    print("the two tuples are not the same")

the two tuples are not the same

In [27]:
# 19. Delete a tuple.
del(x)
print(x)

NameError: name 'x' is not defined

In [31]:
# 20. Slice a tuple.
print(f"The slice of tuple y :{y[2:4]}")

The slice of tuple y :(6, 7)

In [33]:
# 21. Find the maximum value in a tuple.
print(f"The max value in y is :{max(y)}")

The max value in y is :7

In [34]:
# 22. Find the minimum value in a tuple.
print(f"The min value in y is :{min(y)}")

The min value in y is :4

In [36]:
# 23. Convert a string to a tuple of characters.

str="rbfjhbfshjb"
tup=tuple(str)
print(f"The tuple of str is :{tup}")

The tuple of str is :('r', 'b', 'f', 'j', 'h', 'b', 'f', 's', 'h', 'j', 'b')

In [39]:
#24. Convert a tuple of characters to a string.
print(f"The string from tuple of characters is :{''.join(tup)}")

The string from tuple of characters is :rbfjhbfshjb

In [41]:
# 25. Create a tuple from multiple data types.
z=(1,2,3,4,"they","are","string",True,False)
z

(1, 2, 3, 4, 'they', 'are', 'string', True, False)

In [49]:
# 26. Check if two tuples are identical.

z1=(1,2,3,4,"they","are","string",True,False)
z1

(1, 2, 3, 4, 'they', 'are', 'string', True, False)

In [47]:
# 27. Sort the elements of a tuple.
y=(2,5,4,7,1,8,4,9)
print(tuple(sorted(y)))

(1, 2, 4, 4, 5, 7, 8, 9)

In [58]:
# 28. Convert a tuple of integers to a tuple of strings.
for num in y:
    print(str(num))
    #i used accidently used str as a variable so cannot do this one

TypeError: 'str' object is not callable

In [59]:
# 29. Convert a tuple of strings to a tuple of integers.

y2=('1','2','3','4','5')
print(tuple(int(x) for x in y2))

(1, 2, 3, 4, 5)

In [25]:
# 30. Merge two tuples.
a=(1,2,3,4,5)
b=(2,3,4,5,6)
print(a+b)

(1, 2, 3, 4, 5, 2, 3, 4, 5, 6)

In [4]:
# 31. Flatten a nested tuple.
y1=((1,2,3),(4,5,6),(7,8,9))
flat=tuple(item for sub in y1 for item in sub)
print(flat)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [23]:
# 32. Create a tuple of the first 5 prime numbers.
def generate_primes(n):
    primes = []
    for num in range(2, n + 1):
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
        if len(primes)>5:
            print(tuple(primes))
            break
result = generate_primes(50)

(2, 3, 5, 7, 11, 13)
Prime numbers up to 50: None

In [30]:
# 33. Check if a tuple is a palindrome.
a=(1,2,3,4,5,4,3,2,1)
if a==a[::-1]:
    print(f"The tuple is palindrome")
else:
    print("The tuple is not palindrome")

The tuple is palindrome

In [34]:
# 34. Create a tuple of squares of numbers from 1 to 5.
a=tuple(x for x in range(1,6))
print(f"The squares of ints in 'a' are :{tuple(x**2 for x in a)}")

The squares of ints in 'a' are :(1, 4, 9, 16, 25)

In [37]:
# 35. Filter out all even numbers from a tuple.
a=tuple(x for x in range(1,101))
for num in a:
    if num%2==0:
        print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [40]:
# 36. Multiply all elements in a tuple by 2.
b=tuple(x*2 for x in a)
print(b)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200)

In [44]:
# 37. Create a tuple of random numbers.
import random
a=tuple(random.randint(1,100) for x in range(10))
print(a)

(49, 93, 20, 15, 96, 65, 3, 34, 70, 71)

In [45]:
# 38. Check if a tuple is sorted.
def is_sorted(tup):
    for num in tup:
        if tup[num]>tup[num+1]:
            return False
        break
    return True
a=(1,2,3,4,5,6,7)
if is_sorted(a):
    print("The tuple is sorted")
else:
    print("The tuple is not sorted")

The tuple is sorted

In [59]:
# 39. Rotate a tuple to the left by `n` positions.
print(a)
key=int(input())
res=()
for i in range(len(a)):
    res=res+(a[int((i+key)%len(a))],)
print(res)

(1, 2, 3, 4, 5, 6, 7)

 1

(2, 3, 4, 5, 6, 7, 1)

In [60]:
# 40. Rotate a tuple to the right by `n` positions.
print(a)
key=int(input())
res=()
for i in range(len(a)):
    res=res+(a[int((i-key)%len(a))],)
print(res)

(1, 2, 3, 4, 5, 6, 7)

 1

(7, 1, 2, 3, 4, 5, 6)

In [2]:
# 41. Create a tuple of the first 5 Fibonacci numbers.
f=0
s=1
tup=(0,1)
for i in range(5):
    t=f+s
    f=s
    s=t
    tup=tup+(t,)
    if len(tup)>5:
        break
print(f"The tuple of first 5 fibo numbers are :{tup}")

The tuple of first 5 fibo numbers are :(0, 1, 1, 2, 3, 5)

In [2]:
# 42. Create a tuple from user input.
tup=tuple(input())
print(tup)

 123456

('1', '2', '3', '4', '5', '6')

In [10]:
# 43. Swap two elements in a tuple.
print(f"Original tuple :{tup}")
swapped_tuple=tup[1],tup[0],*tup[2:]
print(f"swapped tuple :{swapped_tuple}")

Original tuple :('1', '2', '2', '4', '4', '5')
swapped tuple :('2', '1', '2', '4', '4', '5')

In [3]:
# 44. Reverse the elements of a tuple.
print(tup[::-1])

('6', '5', '4', '3', '2', '1')

In [4]:
# 45. Create a tuple of the first `n` powers of 2.
n=int(input())
print(f" tuple of the first `n` powers of 2 is :{tuple(s**2 for s in range(1,n+1))}")

 5

 tuple of the first `n` powers of 2 is :(1, 4, 9, 16, 25)

In [7]:
# 46. Find the longest string in a tuple of strings.
tup1=("ewkfd","ekqwrhkreb","ekjfwbjebh","ewkfrswwswwhjbf","ewkjbfdddddddjrhb","krbfchb")
max=0
for num in tup1:
    if len(num)>max:
        max=len(num)
        maxw=num
        
print(f"the longest string in a tuple of strings is :{maxw} with {max} letters")

the longest string in a tuple of strings is :ewkjbfdddddddjrhb with 17 letters

In [10]:
# 47. Find the shortest string in a tuple of strings.
tup1=("ewkfd","ekqwrhkreb","ekjfwbjebh","ewkfrswwswwhjbf","ewkjbfdddddddjrhb","krbfchb")
min=len(tup1[0])
for num in tup1:
    if len(num)<=min:
        min=len(num)
        minw=num
print(f"the shortest string in a tuple of string is :{minw} with {min} letters")

the shortest string in a tuple of string is :ewkfd with 5 letters

In [11]:
# 48. Create a list of the first `n` triangular numbers.

def triangular_nums(num):
    return (num*(num+1))//2
n=int(input())
res=()
for i in range(1,n+1):
    res=res+(triangular_nums(i),)
print(res)

 10

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [13]:
 # 49. Check if a tuple contains another tuple as a subsequence
def is_nested(tup):
    for num in tup:
        if type(num)==tuple:
            return "the tuple contains another tuple"
            break
    return "The tuple does not contain another tuple"
a=(1,2,3,4,(5,6,7))
b=(1,2,3,4,5,6,7)
print(is_nested(a))
print(is_nested(b))

the tuple contains another tuple
The tuple does not contain another tuple

In [14]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.
n=int(input())
alter_tup=tuple(1 if i%2==0 else 0 for i in range(1,n+1))
print(alter_tup)

 10

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [ ]:
Set Based Practice Problem

In [15]:
# 1.Create a set with integers from 1 to 5.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [16]:
# 2.Add an element to a set.
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

In [17]:
# 3.Remove an element from a set.
my_set.remove(3)
my_set

{1, 2, 4, 5, 6}

In [18]:
# 4.Check if an element exists in a set.
element_exists = 2 in my_set
element_exists

True

In [19]:
# 5.Find the length of a set without using the len() function.
set_length = sum(1 for _ in my_set)
set_length

5

In [21]:
# 6.Clear all elements from a set.
my_set.clear()
print(my_set)

set()

In [22]:
# 7.Create a set of even numbers from 1 to 10.
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}

In [23]:
# 8.Create a set of odd numbers from 1 to 10.
odd_numbers = {x for x in range(1, 11) if x % 2 != 0}
print(odd_numbers)

{1, 3, 5, 7, 9}

In [2]:
# 9.Find the union of two sets.
set1={1,2,3,4,5,6}
set2={5,6,7,8}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

In [30]:
# 10.Find the intersection of two sets.

intersection_set = set1.intersection(set2)
intersection_set

{5, 6}

In [32]:
# 11.Find the difference between two sets.
print(set1)
difference_set = set1.difference(set2)
difference_set

{1, 2, 3, 4, 5, 6}

{1, 2, 3, 4}

In [33]:
# 12.Check if a set is a subset of another set.
is_subset = set1.issubset(set2)
is_subset

False

In [35]:
# 13.Check if a set is a superset of another set.
set1={1,2,3,4,5,6,7,8}
is_superset = set1.issuperset(set2)
is_superset

True

In [1]:
# 14. Create a set from a list.
my_list = [1, 2, 3, 4, 5]
my_set = set(my_list)
my_set

{1, 2, 3, 4, 5}

In [2]:
# 15.Convert a set to a list.
my_list = list(my_set)
my_list

[1, 2, 3, 4, 5]

In [3]:
# 16.Remove a random element from a set.
import random
random_element = my_set.pop()
random_element

1

In [4]:
# 17.Pop an element from a set.
popped_element = my_set.pop()
popped_element

2

In [18]:
# 18.Check if two sets have no elements in common.
set1={1,2,3,4}
set2={4,7,8}
if set1.isdisjoint(set2):
    print("No common elements")
else:
    print("They have common elements")

They have common elements

In [19]:
# 19.Find the symmetric difference between two sets.
symmetric_difference = set1.symmetric_difference(set2)
symmetric_difference

{1, 2, 3, 7, 8}

In [22]:
# 20.Update a set with elements from another set.
set1.update(set2)
set1

{1, 2, 3, 4, 7, 8}

In [24]:
# 21.Create a set of the first 5 prime numbers
prime_numbers = {2, 3, 5, 7, 11}
prime_numbers

{2, 3, 5, 7, 11}

In [4]:
# 22.Check if two sets are identical.
set1={1,2,4}
set2={3,4,5}
are_identical = set1 == set2
are_identical

False

In [6]:
# 23.Create a frozen set.
my_set={1,2,3,5,6}
frozen_set = frozenset(my_set)
print(frozen_set)

frozenset({1, 2, 3, 5, 6})

In [8]:
# 24.Check if a set is disjoint with another set.
is_disjoint = set1.isdisjoint(set2)
print(is_disjoint)

False

In [10]:
# 25.Create a set of squares of numbers from 1 to 5.
squares_set = {x*x for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

In [11]:
# 26.Filter out all even numbers from a set
even_numbers_set = {x for x in my_set if x % 2 == 0}
print(even_numbers_set)

{2, 6}

In [12]:
# 26.Multiply all elements in a set by 2.
multiplied_set = {x * 2 for x in my_set}
multiplied_set

{2, 4, 6, 10, 12}

In [13]:
# 27.Create a set of random numbers.
import random
random_set = {random.randint(1, 100) for _ in range(10)}
random_set

{17, 22, 44, 45, 57, 63, 83, 90, 92, 100}

In [15]:
# 29. Check if a set is empty.
is_empty = not bool(my_set)
is_empty

False

In [16]:
# 30. Create a nested set (hint: use frozenset).
nested_set = frozenset({frozenset({1, 2}), frozenset({3, 4})})
nested_set

frozenset({frozenset({3, 4}), frozenset({1, 2})})

In [18]:
# 31. Remove an element from a set using the discard method.
print(my_set)
n=int(input())
my_set.discard(n)
my_set

{1, 2, 3, 5, 6}

 2

{1, 3, 5, 6}

In [19]:
# 32. Compare two sets.
comparison_result = set1 == set2
comparison_result

False

In [21]:
# 33. Create a set from a string.
string_set = set("hello")
string_set

{'e', 'h', 'l', 'o'}

In [23]:
# 34. Convert a set of strings to a set of integers.
integer_set = {ord(x) for x in string_set}
integer_set

{101, 104, 108, 111}

In [26]:
# 35. Convert a set of integers to a set of strings.
string_set = {chr(x) for x in integer_set}
string_set

{'e', 'h', 'l', 'o'}

In [28]:
# 36. Create a set from a tuple.
tuple_set = set((1, 2, 3, 4, 5))
tuple_set

{1, 2, 3, 4, 5}

In [29]:
# 37. Convert a set to a tuple.
tuple_from_set = tuple(my_set)
tuple_from_set

(1, 3, 5, 6)

In [31]:
# 38. Find the maximum value in a set.
max_value = max(my_set)
max_value

6

In [32]:
# 39. Find the minimum value in a set.
min_value = min(my_set)
min_value

1

In [33]:
# 40. Create a set from user input.
user_input_set = set(input("Enter elements separated by spaces: ").split())
user_input_set

Enter elements separated by spaces:  1 2 3 4 5 6

{'1', '2', '3', '4', '5', '6'}

In [34]:
# 41. Check if the intersection of two sets is empty.
intersection_empty = not bool(set1 & set2)
intersection_empty

False

In [35]:
# 42. Create a set of the first 5 Fibonacci numbers.
f=0
s=1
tup={0,1}
for i in range(5):
    t=f+s
    f=s
    s=t
    tup.add(t)
    if len(tup)>5:
        break
print(f"The tuple of first 5 fibo numbers are :{tup}")

The tuple of first 5 fibo numbers are :{0, 1, 2, 3, 5, 8}

In [36]:
# 43. Remove duplicates from a list using sets.
duplicate_list={1,2,3,4,4,5,5,5,6,7}
unique_list = list(set(duplicate_list))
unique_list

[1, 2, 3, 4, 5, 6, 7]

In [37]:
# 44. Check if two sets have the same elements, regardless of their count.
same_elements = set1 == set2 or set1 == set2 or set1.symmetric_difference(set2) == set()
same_elements

False

In [38]:
# 45. Create a set of the first `n` powers of 2.

n_powers_of_2 = {2**i for i in range(n)}
n_powers_of_2

{1, 2}

In [41]:
# 46. Find the common elements between a set and a list.
my_list=[1,2,3,4,5]
common_elements = my_set.intersection(my_list)
common_elements

{1, 3, 5}

In [43]:
# 47. Create a set of the first `n` triangular numbers.
n=int(input())
triangular_numbers = {i * (i + 1) // 2 for i in range(1, n + 1)}
triangular_numbers

 10

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

In [45]:
# 48. Check if a set contains another set as a subset.
super_set={1,2,3,4,5}
subset_set={2,3,4}
contains_subset = subset_set.issubset(super_set)
contains_subset

True

In [46]:
# 49. Create a set of alternating 1s and 0s of length `n`.
alternating_set = {1 if i % 2 == 0 else 0 for i in range(n)}
alternating_set

{0, 1}

In [48]:
# 50. Merge multiple sets into one.
set1={1,2,3}
set2={4,5,6}
set3={7,8,9}
set4={2,3,4}
merged_set = set1.union(set2, set3,set4)
merged_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}